<script setup>
import { ref, onMounted, onBeforeUnmount, nextTick } from 'vue'

const { $sessionId, $socket } = useNuxtApp()

// WebSocket Log Component State
const logs = ref([])
const logContainer = ref(null)

// WebSocket Message Handler
const handleMessage = (event) => {
  const data = event.data.trim()

  setTimeout(() => {
    addLog('Server', data)
    nextTick(scrollToBottom) // Ensure DOM is updated before scrolling
  }, 300) // Delay for server message rendering
}

const addLog = (sender, content) => {
  const now = new Date()
  logs.value.push({
    sender,
    content,
    time: now.toLocaleTimeString(),
  })
  nextTick(() => animateLog(logs.value.length - 1))
}

const scrollToBottom = () => {
  if (logContainer.value) {
    logContainer.value.scrollTop = logContainer.value.scrollHeight
  }
}

const animateLog = (index) => {
  const logElements = logContainer.value.querySelectorAll('.log-entry')
  const log = logElements[index]
  if (log) {
    log.style.opacity = 0
    log.style.transition = 'opacity 0.5s ease-in-out'
    nextTick(() => {
      log.style.opacity = 1
    })
  }
}

const resetLogs = () => {
  logs.value = []
}

onMounted(() => {
  resetLogs()

  $socket.addEventListener('message', handleMessage)
})

onBeforeUnmount(() => {
  $socket.removeEventListener('message', handleMessage)
})
</script>

<template>
  <ContentSection
      class="mb-16"
      section-id="server-log"
      alignment="text-center"
      layout="custom"
      :sections="[
      { name: 'center', columns: 8 },
    ]"
  >
    <template #above>
      <h2 class="sub-header mt-16">Server Websocket Log</h2>
    </template>
    <template #center>
      <UCard>
        <div class="w-full h-120 overflow-y-auto p-4 text-white rounded-lg" ref="logContainer">
          <div v-for="(log, index) in logs" :key="index" class="mb-2 text-sm font-mono text-left flex gap-4">
            <div class="flex-none w-48 flex">
              <span class="text-blue-600 dark:text-blue-400">{{ log.time }}</span>
              <span
                  class="ml-2"
                  :class="log.sender === 'client' ? 'text-green-700 dark:text-green-400' : 'text-purple-700 dark:text-purple-400'"
              >
                [{{ log.sender }}]
              </span>
            </div>
            <div class="flex-1 flex-wrap">
              <span class="text-black dark:text-white block break-all">{{ log.content }}</span>
            </div>
          </div>
        </div>
      </UCard>
    </template>
  </ContentSection>
</template>

<style scoped>
</style>
