<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'

const qrData = ref({})
const reverseQRMessage = ref('')
const showReverseQRMessage = ref(0)

const { $sessionId, $socket, $wallet } = useNuxtApp()

const fetchQrData = async () => {
  try {
    qrData.value = await $fetch(`/api/reverseQR/qr?cookie=${$sessionId.value}`)
  } catch (error) {
    console.error('Error fetching QR data:', error)
  }
}

onMounted(fetchQrData)

// Handle WebSocket messages
const handleMessage = (event) => {
  const data = event.data.trim()
  if (data.startsWith('Shared content: ')) {
    reverseQRMessage.value = data.substring('Shared content: '.length)
    showReverseQRMessage.value += 1

    // Set timeout to hide the message after 60 seconds
    setTimeout(() => {
      showReverseQRMessage.value -= 1
    }, 60000)
  }
}

// Handle WebSocket connection lifecycle
onMounted(() => {
  $socket.addEventListener('message', handleMessage)
})

onBeforeUnmount(() => {
  $socket.removeEventListener('message', handleMessage)
})
</script>

<template>
  <ContentSection
      :sections="[
        { name: 'center', columns: 8 },
      ]"
      alignment="text-center"
      layout="custom"
      section-id="reverseqr-qr-codes"
  >
    <template #center>
      <div class="flex flex-col gap-4 p-4">
        <h2 v-if="showReverseQRMessage" class="text-2xl text-center">
          <span class="font-bold">Message Received: </span>{{ reverseQRMessage }}
        </h2>
        <!-- Row for Titles and QR Codes -->
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
          <div v-for="item in qrData" :key="item.id" class="flex flex-col items-center p-4 rounded-lg shadow-sm">
            <div class="h-16 flex items-center justify-center">
              <h3 class="text-2xl font-bold break-all whitespace-normal text-center">{{ item.title }}</h3>
            </div>
            <ClickableQRCode
                :key="item.id"
                :value="item.qrURI"
                :subtitle="item.subtitle"
                @click="$wallet.qrClickHandler(item.qrURI)"
            />
          </div>
        </div>
      </div>
    </template>
  </ContentSection>
</template>

<style scoped>
/* Additional styles if needed */
</style>
