<script setup>

</script>

<template>
  <ContentSection
      section-id="reverseqr-main-hero"
      alignment="text-center"
      layout="custom"
      :sections="[
      { name: 'center', columns: 8 },
    ]"
  >
    <template #above>
      <h1 class="sub-header">Reverse QR (request data from the mobile device)</h1>
    </template>
  </ContentSection>
</template>

<style scoped>
</style>
