<script setup>
import { computed } from 'vue'

const props = defineProps({
  sectionId: String,
  gradients: Array,
  alignment: String,
  layout: {
    type: String,
    default: 'custom'
  },
  itemAlignment: {
    type: String,
    default: 'center' // Can be 'left', 'right', or 'center'
  },
  sections: {
    type: Array,
    default: () => [
      { name: 'left', columns: 2 },
      { name: 'center', columns: 4 },
      { name: 'right', columns: 2 }
    ] // Default sections configuration
  },
  totalColumns: {
    type: Number,
    default: 8 // Total number of columns in the grid
  }
})

const gridClass = computed(() => {
  return `lg:grid-cols-${props.totalColumns}`
})

</script>

<template>
  <section :id="sectionId" :class="`content-section ${alignment} layout-${layout}`">
    <slot name="above"/>
    <div class="relative z-[2] mt-8 grid gap-8" :class="gridClass">
      <div v-for="(gradient, index) in gradients" :key="index" :class="`absolute inset-0 z-${gradient.zIndex}`">
        <GradientFocus
            :position="gradient.position"
            :size="gradient.size"
            :color-stops="gradient.colorStops"
            :roundedness="gradient.roundedness"
        />
      </div>
      <template v-if="layout === 'custom'">
        <div v-for="(section, index) in sections" :key="index" :style="{ gridColumn: `span ${section.columns} / span ${section.columns}` }" class="flex flex-col">
          <slot :name="section.name"></slot>
        </div>
      </template>
      <template v-else-if="layout === 'center'">
        <slot name="center"></slot>
      </template>
    </div>
  </section>
</template>

<style>

</style>
