<template>
  <div>
    <div class="bg-white dark:bg-black flex flex-col min-h-screen overflow-x-hidden">
      <div class="fixed top-0 w-full z-10">
        <Constraint size="xl">
          <Topbar />
        </Constraint>
      </div>
      <main class="flex-grow mt-16">
        <NuxtPage/>
      </main>
      <UDivider />
      <Constraint size="xl">
        <Container size="xl">
          <ServerLogs />
        </Container>
      </Constraint>
      <UDivider />
      <Constraint size="xl">
        <BottomFooter />
      </Constraint>
    </div>
  </div>
</template>

<script setup>

</script>
