<script setup>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome"

const { stats } = defineProps(['stats'])

// Function to get icon components
const getIconComponent = (icon) => {
  if (typeof icon === "string" && icon.substring(0, 2) === "fa") {
    return FontAwesomeIcon;
  }
  return icon
}
</script>

<template>
  <section>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-16 mt-6">
      <div class="stat" v-for="(stat, index) in stats" :key="index">
        <div class="flex flex-col items-center justify-center">
          <div class="flex items-center justify-center">
            <!-- Title handling -->
            <template v-if="Array.isArray(stat.title)">
              <template v-for="(icon, iconIndex) in stat.title" :key="iconIndex">
                <component :is="getIconComponent(icon)" :icon="icon" class="mr-1 h-10 w-10"/>
              </template>
            </template>
            <component v-else-if="stat.isTitleIcon" :is="getIconComponent(stat.title)" :icon="stat.title"
                       class="mr-1 h-10 w-10"/>
            <div v-else class="text-gray-400 text-wrap text-lg">{{ stat.title }}</div>
          </div>

          <!-- Subtitle handling -->
          <div class="flex items-center justify-center">
            <template v-if="Array.isArray(stat.subtitle)">
              <template v-for="(icon, iconIndex) in stat.subtitle" :key="iconIndex">
                <component :is="getIconComponent(icon)" :icon="icon" class="mr-1 h-10 w-10"/>
              </template>
            </template>
            <component v-else-if="stat.isSubtitleIcon" :is="getIconComponent(stat.subtitle)" :icon="stat.subtitle"
                       class="mr-1 h-10 w-10"/>
            <div v-else class="text-wrap text-lg">{{ stat.subtitle }}</div>
          </div>

          <!-- Text handling -->
          <div class="flex flex-col items-center justify-center">
            <template v-if="Array.isArray(stat.text)">
              <template v-for="(icon, iconIndex) in stat.text" :key="iconIndex">
                <component :is="getIconComponent(icon)" :icon="icon" class="mr-1 h-10 w-10 text-3xl text-blue-200"/>
              </template>
            </template>
            <component v-else-if="stat.isTextIcon" :is="getIconComponent(stat.text)" :icon="stat.text"
                       class="mr-1 h-10 w-10 text-3xl text-blue-200"/>
            <div v-else
                 class="font-bold text-wrap text-center text-2xl sm:text-2xl md:text-2xl lg:text-3xl text-blue-200">
              {{ stat.text }}
            </div>
          </div>

          <!-- Additional subtitle under the text -->
          <div v-if="stat.subtitleText" class="subtitle text-wrap text-center text-lg">{{ stat.subtitleText }}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped>

</style>
