<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'
import { useRoute } from 'vue-router'

const atTop = ref(false)
const isModalOpen = ref(false)

// Nav Links Array
const navLinks = [
  { label: 'Welcome', to: '/' },
  { label: 'Faucet', to: '/faucet' },
  { label: 'Sign Messages', to: '/messages' },
  { label: 'Reverse QR', to: '/reverseqr' },
  { label: 'Forward QR', to: '/forwardqr' },
  { label: 'Identity', to: '/identity' },
  { label: 'TDPP', to: '/tdpp' },
  { label: 'Wallet Internals', to: '/wallets' },
]

// Function to determine the active link class
const getLinkClass = (path) => {
  return route.path === path ? 'text-yellow-200' : ''
}

const onWindowScroll = () => {
  atTop.value = window.pageYOffset < 30
}

onMounted(() => {
  window.addEventListener('scroll', onWindowScroll)
  onWindowScroll()
})

onBeforeUnmount(() => {
  window.removeEventListener('scroll', onWindowScroll)
})

const closeSideDrawer = () => {
  sideDrawerOpen.value = false
}

const sideDrawerOpen = ref(false)
const route = useRoute()
</script>

<template>
  <div class="bg-opacity-95 backdrop-blur-md">
    <div class="pl-6 pr-6 flex items-center border-base-content/10 bg-gray-300/5 transition-colors duration-300 rounded-b-2xl">
      <div class="mt-4 mb-4 flex-auto flex items-center">
        <UButton
            :ui="{
            color: {
              white: {
                ghost: 'ring-0 text-black dark:text-white hover:bg-gray-800/75'
              }
            }
          }"
            class="lg:hidden"
            color="white"
            variant="ghost"
            @click="sideDrawerOpen = true"
        >
          <UIcon class="h-8 w-8" name="i-heroicons-bars-3"/>
        </UButton>
        <ULink
            class="md:ml-4"
            to="/"
        >
          <img alt="nexa" class="h-12 w-full hidden dark:block" src="/logos/nexa/nexa-logo-mark-text-white.svg"/>
          <img alt="nexa" class="h-12 w-full block dark:hidden" src="/logos/nexa/nexa-logo-mark-text-dark.svg"/>
        </ULink>
      </div>
      <div class="flex-none hidden lg:flex items-center">
        <UButton
          v-for="link in navLinks"
          :to="link.to"
          :ui="{
            icon: {
              base: 'text-black dark:text-white'
            },
            color: {
              white: {
                ghost: 'text-black dark:text-white hover:bg-gray-500/20'
              }
            }
          }"
          color="white"
          size="lg"
          trailing
          variant="ghost"
        >
          {{  link.label }}
        </UButton>
        <div class="flex items-center gap-4 ml-2">
          <ConnectWalletButton @open-modal="isModalOpen = true"/>
          <ThemeToggler :visible="true" size="md" />
        </div>
      </div>
    </div>

    <USlideover
        :ui="{
        background: 'bg-white dark:bg-black'
      }"
        v-model="sideDrawerOpen"
        side="left"
    >
      <div class="flex-1">
        <UCard
            :ui="{
          background: 'bg-white dark:bg-black',
          body: {
            base: 'flex-1'
          },
          ring: '',
          divide: 'divide-y divide-gray-100 dark:divide-gray-800'
        }"
            class="flex flex-col flex-1"
        >
          <template #header>
            <ULink to="/">
              <img alt="nexa" class="h-12" src="/logos/nexa/nexa-logo-mark-text-white.svg"/>
            </ULink>
          </template>
          <ul >
            <li v-for="(link, index) in navLinks" :key="index">
              <UButton
                  @click="closeSideDrawer"
                  :to="link.to"
                  :ui="{
                      rounded: 'rounded-none',
                      padding: {
                        sm: 'p-3'
                      }
                    }"
                  class="text-xl w-full rounded-lg"
                  color="black"
                  variant="ghost"
              >
                <span class="truncate">{{ link.label }}</span>
              </UButton>
            </li>
          </ul>
        </UCard>
      </div>
    </USlideover>
  </div>
  <WalletModal :isOpen="isModalOpen" @update:isOpen="isModalOpen = $event" />
</template>

<style scoped>
/* Your custom styles here */
</style>
