<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue'

const config = useRuntimeConfig()
const faucetData = ref({})

const { $sessionId, $socket } = useNuxtApp()

// Function to fetch faucet data
const fetchFaucetData = async () => {
  try {
    faucetData.value = await $fetch(`/api/faucet?cookie=${$sessionId.value}`)
  } catch (error) {
    console.error('Error fetching QR data:', error)
  }
}

// Handle WebSocket messages
const handleSocketMessage = (event) => {
  const data = event.data.trim()
  if (data === 'Wallet has changed') {
    fetchFaucetData()
  }
}

// Setup the WebSocket listener when the component is mounted
onMounted(() => {
  $socket.addEventListener('message', handleSocketMessage)
  fetchFaucetData() // Initial fetch when the component is mounted
})

// Cleanup the WebSocket listener when the component is unmounted
onBeforeUnmount(() => {
  $socket.removeEventListener('message', handleSocketMessage)
})
</script>

<template>
  <ContentSection
      section-id="faucet-main-hero"
      alignment="text-center"
      layout="custom"
      :sections="[
      { name: 'center', columns: 8 },
    ]"
  >
    <template #above>
      <h1 class="sub-header">Faucet (receive and send coins)</h1>
      <p class="text-3xl font-semibold mt-16">
        Faucet currently has
        <span class="text-purple-500 dark:text-purple-400">{{ faucetData.balanceInCurrency }}</span>
        at block
        <span class="text-purple-500 dark:text-purple-400">
          {{ faucetData.syncedHeight }} of {{ faucetData.currentHeight}}
        </span>
      </p>
      <p class="text-3xl font-semibold mt-6">
        <span class="text-purple-500 dark:text-purple-400">
          {{ faucetData.numPeers }}
        </span> peers
      </p>
    </template>
  </ContentSection>
</template>

<style scoped>
</style>
