<script setup>
const props = defineProps({
  cooldownDuration: {
    type: Number,
    default: 300
  },
  enabled: {
    type: Boolean,
    default: false
  }
})

const address = ref('')
const successMessage = ref(null)
const lastPressTime = useCookie('faucetCooldinkown')
const remainingTime = ref(0)
const isProcessing = ref(false)
const errorMessage = ref('')
const timeoutId = ref(null)

// Cooldown timer logic
const updateCooldown = () => {
  if (lastPressTime.value) {
    const currentTime = Math.floor(Date.now() / 1000)
    const elapsed = currentTime - lastPressTime.value
    remainingTime.value = Math.max(props.cooldownDuration - elapsed, 0)

    // Clear cookie if cooldown expired
    if (remainingTime.value <= 0) {
      lastPressTime.value = null
    }
  }
}

const startCountdown = () => {
  clearTimeout(timeoutId.value)

  if (remainingTime.value > 0) {
    timeoutId.value = setTimeout(() => {
      remainingTime.value = Math.max(remainingTime.value - 1, 0)

      if (remainingTime.value > 0) {
        startCountdown()
      } else {
        lastPressTime.value = null
      }
    }, 1000)
  }
}

const handleFundRequest = async () => {
  if (!props.enabled || remainingTime.value > 0 || !address.value) return

  isProcessing.value = true
  errorMessage.value = ''
  successMessage.value = null

  try {
    const response = await $fetch('/api/faucet/address', {
      method: 'POST',
      body: { address: address.value }
    })

    if (response.data) {
      if (response.data.txId) {
        // Store success details
        successMessage.value = {
          amount: response.data.amountSent,
          link: response.data.explorerLink
        }

        // Update cooldown timers
        lastPressTime.value = Math.floor(Date.now() / 1000)
        remainingTime.value = props.cooldownDuration
        scheduleUpdate()
      }
    }
  } catch (error) {
    if (error.statusCode === 429) {
      const remaining = error.data?.errors?.remaining
      if (remaining) {
        const remainingSeconds = parseInt(remaining)
        if (typeof remainingSeconds === 'number') {
          remainingTime.value = remainingSeconds
          lastPressTime.value = Math.floor(Date.now() / 1000) -
              (props.cooldownDuration - remainingSeconds)
          scheduleUpdate()
        }
      }
    }
    errorMessage.value = error.data?.message || error.message || 'Failed to process request'
  } finally {
    isProcessing.value = false
  }
}

const scheduleUpdate = () => {
  clearTimeout(timeoutId.value)
  if (remainingTime.value > 0) {
    timeoutId.value = setTimeout(() => {
      updateCooldown()
      scheduleUpdate()
    }, 1000)
  }
}

onMounted(() => {
  updateCooldown()
  scheduleUpdate()
})

onBeforeUnmount(() => {
  clearTimeout(timeoutId.value)
})
</script>

<template>
  <ContentSection
      :sections="[{ name: 'center', columns: 8 }]"
      alignment="text-center"
      section-id="fund-address"
  >
    <template #center>
      <div class="flex flex-col gap-6 items-center p-4">
        <h2 class="text-3xl font-bold">Direct Address Funding</h2>

        <div class="max-w-xl w-full space-y-4">
          <UAlert
              v-if="successMessage"
              variant="solid"
              color="purple"
              icon="i-heroicons-check-circle"
              :title="`Successfully sent ${successMessage.amount}`"
              :ui="{
                title: 'text-md',
                description: 'text-md'
              }"
              :actions="[
                {
                  label: 'View Transaction',
                  color: 'white',
                  variant: 'soft',
                  size: 'md',
                  to: successMessage.link,
                  target: '_blank',
                  trailingIcon: 'i-heroicons-arrow-up-right-20-solid'
                }
              ]"
              :close-button="{
                color: 'white',
                variant: 'soft',
                icon: 'i-heroicons-x-mark-20-solid',
                padded: false
              }"
              @close="successMessage = null"
          />
          <UInput
              v-model="address"
              placeholder="Enter Nexa address"
              size="xl"
              :disabled="!enabled || remainingTime > 0"
          />

          <UButton
              :disabled="!enabled || remainingTime > 0 || !address"
              :loading="isProcessing"
              @click="handleFundRequest"
              class="w-full"
              color="primary"
              size="xl"
          >
            <template v-if="remainingTime > 0">
              Cooldown: {{ remainingTime }}s
            </template>
            <template v-else>
              {{ enabled ? 'Send Funds' : 'Feature Disabled' }}
            </template>
          </UButton>


          <div v-if="errorMessage" class="text-red-500 text-sm">
            {{ errorMessage }}
          </div>
        </div>
      </div>
    </template>
  </ContentSection>
</template>